.wrapper {
  width: 100vw;
}

.alertContainer {
  position: fixed;
  top: -500px;
  left: 50%;

  min-width: 245px;
  min-height: 62px;
  width: 863px;
  padding: 3px 22px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 22px;
  border-radius: 360px;
  background: #fff;
  box-shadow: 0px 10px 37px 0px rgba(53, 54, 54, 0.36);
  z-index: 999999;

  .gifBell {
    width: 40px;
    height: 40px;
  }

  .iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 13px;

    .alertIcon {
      width: 30px;
      height: 30px;
    }
  }
  .messageText {
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
  }
}

.active {
  top: 10px;
  animation: slide-in-top 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) alternate
    both;
}

.slideOut {
  // top: -500px;
  animation: slide-out-blurred-top 0.3s cubic-bezier(0.755, 0.05, 0.855, 0.06)
    both;
}

@keyframes slide-in-top {
  0% {
    transform: translate(-50%, -500px);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 10px);
    opacity: 1;
  }
}

@keyframes slide-out-top {
  0% {
    transform: translate(-50%, 10px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -1000px);
    opacity: 0;
  }
}

@-webkit-keyframes slide-out-blurred-top {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1) translateX(-50%);
    transform: translateY(0) scaleY(1) scaleX(1) translateX(-50%);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2)
      translateX(-50%);
    transform: translateY(-1000px) scaleY(2) scaleX(0.2) translateX(-50%);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
}
@keyframes slide-out-blurred-top {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1) translateX(-50%);
    transform: translateY(0) scaleY(1) scaleX(1) translateX(-50%);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2)
      translateX(-50%);
    transform: translateY(-1000px) scaleY(2) scaleX(0.2) translateX(-50%);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
}
