.canvasContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}
.canvasArea {
  animation: rotate 60s linear infinite alternate;
  scale: 1.5;
  /* transform: translate(-50%, -50%); */
}
.filter {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(100px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }