@property --myColor1 {
  syntax: "<color>";
  initial-value: transparent;
  inherits: false;
}

@property --myColor2 {
  syntax: "<color>";
  initial-value: transparent;
  inherits: false;
}

.StripeElement {
  height: 51px;
  padding: 10px 12px;
  max-width: 499px;
  width: 100%;
  color: #32325d;
  background-color: white;
  border: 1px solid #ededed;
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.StripeElement--focus {
  /* box-shadow: 0 1px 3px 0 #cfd7df; */
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.cardElementContainer {
  margin-top: 56px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 26px;
}
.__PrivateStripeElement {
  width: 100%;
}
.payButton {
  background: linear-gradient(89.53deg, #469ee7 -4.3%, #d855f9 102.07%);
  width: 100%;
  border-radius: 360px;
  max-width: 499px;
  height: 49px;
  color: #ffffff;
  letter-spacing: 3px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  transition: 0.3s ease-in-out;
}
.payButton:hover {
  background: linear-gradient(270.53deg, #469ee7 -4.3%, #d855f9 102.07%);
}

.gradientWrapper {
  width: 504px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, var(--myColor1), var(--myColor2));
  transition: --myColor1 0.3s, --myColor2 0.3s;
  padding: 2px;
  border-radius: 360px;
}

.gradientWrapper:hover, .gradientWrapper:focus-within, .gradientWrapper:active {
  --myColor1: #ffb600;
  --myColor2: #ca27ff;
}
