.wrapper {
  width: 100%;
  height: 100vh;
  background-color: rgb(0 0 0 / 64%);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;

  .container {
    width: 500px;
    height: 410px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    position: relative;

    .closeButton {
      border: none;
      background: none;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 20px;
      top: 20px;

      .closeIcon {
        width: 24px;
        height: 24px;
        cursor: pointer;
        opacity: 0.3;
        transition: 0.3s ease-in-out;

        &:hover {
          opacity: 1;
        }
      }
    }

    .header {
      margin-top: 38px;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 30px;

      .couponIcon {
        width: 54px;
      }

      .title {
        font-size: 24px;
        font-family: "Canela-Light";
        font-weight: 500;
        color: #000;
        margin-left: 20px;
      }
    }
    .description {
      font-family: "QuickSand-Regular";
      font-size: 14px;
      color: #525252;
    }
    .inputWrapper {
      display: flex;
      flex-direction: column;

      .errorMessages {
        font-family: "QuickSand-Regular";
        font-size: 14px;
        color: #ff0000;
        margin-top: 8px;
        min-height: 17.5px;
      }

      .input {
        width: 380px;
        height: 50px;
        border-radius: 360px;
        border: 1px solid #e8e8e8;
        text-align: center;
        font-family: "QuickSand-Bold";
        font-size: 24px;
        color: #cd2af8;
        letter-spacing: 3px;

        &::placeholder {
          opacity: 0.19;
          color: #cd2af8;
        }
      }
    }
    .button {
      width: 270px;
      height: 50px;
      border-radius: 360px;
      background: linear-gradient(88deg, #469fe7 0%, #cf28fa 100%);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-family: "QuickSand-Bold";
      font-size: 13px;
      color: #fff;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
  }
}
