.backBtn {
  cursor: pointer;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: none;
  border: 2px solid #ffffff;
  border-radius: 360px;
  transform: rotate(180deg);
  transition: 0.3s ease-in-out;
  opacity: 0.3;
  border: 2px solid #ffff;
  left: -142px;
  position: absolute;
}
.backBtn:hover {
  opacity: 1;
  background-color: #55b72e;
}

.backBtn img {
  margin-left: -23px;
  margin-bottom: -2px;
}

.lottieContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  z-index: 1;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.relativeDiv {
  position: relative;
}
.prgressbarContainer {
  width: 80%;
  background-color: #dbdbdb;
  border-radius: 360px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.prgressbarContainer .progressbar {
  width: 40%;
  height: 10px;
  border-radius: 360px;
  background: linear-gradient(89.53deg, #469ee7 -4.3%, #d855f9 102.07%);
  transition: 1s ease-in-out;
  animation: widthAnim 1s ease-in-out;
}

.countdown{
  background-color: #FFFFFF;
  border: 1px solid #FBD1FB;
  margin-top: 10px;
  color: #B60BFF;
  font-size: 11px;
  font-family: "Quicksand Medium";
  padding: 2px 5px;
  border-bottom-width: 2px;
  border-radius: 4px;
}

@keyframes widthAnim {
  0% {
    width: 0;
  }
  100% {
    width: 40%;
  }
}
