.backBtn {
  cursor: pointer;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: none;
  border: 2px solid #ffffff;
  border-radius: 360px;
  transform: rotate(180deg);
  transition: 0.3s ease-in-out;
  opacity: 0.3;
  border: 2px solid #ffff;
  left: -142px;
  position: absolute;
}
.backBtn:hover {
  opacity: 1;
  background-color: #55b72e;
}

.backBtn img {
  margin-left: -23px;
  margin-bottom: -2px;
}

.lottieContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  z-index: 1;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.relativeDiv {
  position: relative;
}
