@font-face {
  font-family: "Quicksand Bold";
  src: url("../fonts/Quicksand-Bold.ttf");
}
@font-face {
  font-family: "VarelaRound";
  src: url("../fonts/VarelaRound-Regular.ttf");
}
.container {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greeting {
  font-family: "Playfair Display", serif;
  letter-spacing: 0;
  font-weight: 200;
  margin-top: 24.5px;
  margin-bottom: 16.5px;
  min-height: 35px;
}
.shadow {
  text-shadow: 0 4px 36px rgb(53 54 54 / 68%);
}

.smileImg {
  width: 68px;
  height: 68px;
  object-fit: contain;
  /* object-position if it looks wonky */
}

.formAction .how {
  letter-spacing: -3px;
}

.formAction .inputSection .inputAndWarning {
  position: relative;
}

.formAction .inputSection .inputAndWarning .warning {
  position: absolute;
  font-size: 16px;
  color: red;
  font-weight: bold;
  top: 55px;
  left: 10px;
  text-align: center;
  display: none;
}
.formAction .inputSection .inputAndWarning input {
  background-color: transparent;
}

.padlockImg {
  width: 68px;
  height: 68px;
  object-fit: contain;
}

.signUpActions {
  width: 100%;
  min-height: 445px;
  margin: 0;
  padding: 0;
  /* margin-bottom: -70px; */
}

.signUpActions .formAction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.signUpActions .formAction label {
  font-family: "Playfair Display", serif;
  letter-spacing: 3px;
  line-height: 80px;
  font-size: 80px;
  font-weight: 200;
  text-align: center;
}

.signUpActions .formAction .inputSection {
  margin-top: 42px;
  margin-bottom: 52.5px;
  display: flex;
  align-items: center;
  gap: 62.5px;
}

.inputSection .formInputWrapper {
  border: 2px solid transparent;
  border-radius: 360px;
  padding: 2px;
  transition: 0.3s ease-in-out;
  position: relative;
}
.inputSection .wrapperError {
  border-color: red !important;
}

.inputSection .requiredMsg {
  width: 100%;
  text-transform: uppercase;
  color: red;
  font-size: 9px;
  font-weight: 700;
  letter-spacing: 2.7px;
  position: absolute;
  bottom: -23px;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
}

.inputSection .requiredMsg .whiteError {
  color: #fff !important;
  margin-left: 5px;
  cursor: pointer;
  text-decoration: underline;
}

.signUpActions .formAction .inputSection .formInput {
  width: 630px;
  height: 49px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 360px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.signUpActions .formAction .inputSection .formInput input {
  border: none;
  height: 100%;
  width: 88%;
  margin: 0;
  /* margin-left: 15px; */
  font-size: 18px;
  /* width: 630px; */
}

.signUpActions .formAction .inputSection .formInput input:active,
.signUpActions .formAction .inputSection .formInput input:focus {
  outline: none;
}

.signUpActions .formAction .inputSection .formInput .icon {
  width: 50px;
  background-color: #f2f2f2;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  border-top-left-radius: 360px;
  border-bottom-left-radius: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUpActions .formAction .inputSection .formInput .showPass {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.signUpActions .formAction .inputSection .formInput .showPass .eye {
  width: 30px;
  height: 22px;
  color: black;
  margin-right: 10px;
}

.signUpActions .formAction .inputSection .backBtn {
  cursor: pointer;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: none;
  border: 2px solid #ffffff;
  border-radius: 360px;
  transform: rotate(180deg);
  transition: 0.3s ease-in-out;
  opacity: 0.3;
}
.signUpActions .formAction .inputSection .backBtn:hover {
  opacity: 1;
  background-color: #55b72e;
}

.signUpActions .formAction .inputSection .backBtn img {
  margin-left: -23px;
  margin-bottom: -2px;
}

.signUpActions .formAction .inputSection .forwardBtn {
  cursor: pointer;
  width: 80px;
  height: 80px;
  /* background-color: transparent; */
  border: 2px solid #ffffff;
  border-radius: 360px;
  transition: 0.3s ease-in-out;
}

.signUpActions .formAction .inputSection .forwardBtnHidden {
  opacity: 0;
  width: 80px;
  height: 80px;
}

.signUpActions .formAction .inputSection .forwardBtn:hover {
  background-color: #55b72e;
}

.signUpActions .formAction .inputSection .forwardBtn img {
  margin-left: -23px;
  margin-bottom: -2px;
}

.footerLinks {
  position: absolute;
  bottom: 20px;
  margin: auto;
  gap: 20px;
  display: flex;
  align-items: center;
}

.footerLinks button {
  width: 92px;
  height: 31px;
}

.footerLinks button img {
  width: 92px;
  height: 31px;
}

.footerLinks button:hover {
  cursor: pointer;
}

.arrow {
  height: 11px;
  width: 27px;
}

.badgeSection {
  display: flex;
  align-items: center;
  gap: 70.34px;
}

.badge {
  width: 29px;
  height: 29px;
  margin: 0;
}

.dot {
  width: 9px;
  height: 9px;
  background: #ffffff6f 0% 0% no-repeat padding-box;
  border-radius: 360px;
  margin: 0;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100%;
}

.welcome .mainSection p {
  font-size: 26px;
  letter-spacing: 1px;
}

.welcome .mainSection h1 {
  text-align: center;
  font-family: "Playfair Display", serif;
  letter-spacing: 3px;
  font-weight: 200;
  line-height: 26px;
  font-size: 26px;
}

.welcome .mainSection h2 {
  text-align: center;
  font-family: "Playfair Display", serif;
  letter-spacing: 3px;
  font-weight: 200;
  line-height: 80px;
  font-size: 80px;
  margin-top: 16.5px;
}

.innerContainer {
  width: 630px;
  height: 504px;
  margin-top: 59px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding-left: 29px;
  padding-right: 29px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.videoDisplay {
  width: 579px;
  height: 376px;
  background: #f4f4f4 0% 0% no-repeat padding-box;
  border: 0.5px solid #c9c9c9;
  border-radius: 8px;
}

.videoDisplay .placeHolderImg {
  width: 579px;
  height: 376px;
  object-fit: cover;
}

.progressDots {
  width: 90px;
  display: flex;
  justify-content: space-between;
  height: 23px;
}

.progressDots .videoDotBtn {
  width: 23px;
  height: 23px;
  border-radius: 360px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressDots .videoDotBtn .innerDot {
  width: 9px;
  height: 9px;
  background: #42b72a 0% 0% no-repeat padding-box;
  border-radius: 360px;
  opacity: 1;
}

.welcome {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  position: relative;
}

.welcome .mainSection {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.welcome button {
  margin-bottom: -170px;
}

.welcome .backBtn {
  position: absolute;
  cursor: pointer;
  left: 458px;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: none;
}

.welcome .forwardBtn {
  position: absolute;
  cursor: pointer;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 360px;
  right: -100px;
}

.welcome .forwardBtn:hover {
  background-color: #34e1eb;
}

.welcome .forwardBtn img {
  margin-left: -23px;
  margin-bottom: -2px;
}

.promoSection {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.innerContainer .promoSection p {
  font-family: "Playfair Display", serif;
  line-height: normal;
  font-size: 59px;
  font-weight: 200;
  color: #000000;
}

.innerContainer .promoSection .starSection {
  display: flex;
  gap: 21px;
}

.innerContainer .promoSection article {
  font-size: 12px;
  letter-spacing: 4.32px;
  opacity: 0.53;
  color: #000000;
  font-weight: bold;
}

.innerContainer .pricesWrapper {
  border: 1px solid #ededed;
  background-color: #f8f8f8;
  border-radius: 10px;
  width: 100%;
  height: 172px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.innerContainer .pricesWrapper .packageText {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-family: "VarelaRound";
  letter-spacing: normal;
  border-top: 1px solid #ededed;
}

.innerContainer .pricesWrapper .packageText .triangle {
  position: absolute;
  top: 0;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 9px 0 9px;
  border-color: #ff15c4 transparent transparent transparent;
  transition: 0.2s ease-in-out;
}

.innerContainer .monthlyOrYearlyTab {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 561px;
}

.innerContainer .monthlyOrYearly {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: center;
  column-gap: 13px;
  margin-top: 36.97px;
}

.innerContainer .monthlyOrYearlyTab .monthlyOrYearly button {
  height: 100%;
  width: 264px;
  border: 1px solid #d9d9d9;
  border-radius: 9px 9px 0 0;
  background: none;
  cursor: pointer;
  font-family: "Quicksand Bold";
  font-weight: 700;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b5b5b5;
  column-gap: 6px;
}

.innerContainer .monthlyOrYearlyTab .monthlyOrYearly button .youSave {
  color: #ff9300 !important;
}

.innerContainer .monthlyOrYearlyTab .monthlyOrYearly .activePeriod {
  background-color: #f7fbff;
  border-color: #dbeeff !important;
  color: #1c1c1c;
}

.innerContainer .monthlyOrYearlyTab .monthlyOrYearly .PeriodUnderline {
  width: 0;
  height: 4px;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  transition: 0.2s ease-in-out;
  left: 50%;
  transform: translateX(-50%);
}

.innerContainer .monthlyOrYearlyTab .monthlyOrYearly .activePeriodUnderline {
  width: 100%;
  background-color: #0089ff;
}

.innerContainer .monthlyOrYearlyTab p {
  font-size: 17px;
  color: #000000;
  letter-spacing: 0px;
  margin-top: 32px;
}

.innerContainer .buttonWithLoader {
  width: 500px;
  height: 49px;
  color: white;

  font-size: 13px;
  border-radius: 360px;
  letter-spacing: 3.9px;
  font-family: "Quicksand Bold";
  margin-top: 22px;
  background-image: linear-gradient(
    to right,
    #b611dc,
    #874fe4,
    #5c66de,
    #4274ce,
    #467bb7
  );
  transition: all 0.6s linear 0.2s;
}

.innerContainer .buttonWithLoader:hover {
  background-image: linear-gradient(
    to right,
    #467bb7,
    #4274ce,
    #5c66de,
    #874fe4,
    #b611dc
  );
}

.monthlyPrices,
.yearlyPrices {
  margin-top: 49.5px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 15px;
}

input[type="radio"] + label {
  color: #000000;
  cursor: pointer;
  background-color: #edededba;
  border: 1px solid #dbdbdb;
  border-radius: 360px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 160px;
  height: 49px;
  font-family: "VarelaRound";
  font-weight: 700;
  letter-spacing: 2.1px;
  padding: 7px;
}

input[type="radio"] + label .previousPrice {
  font-size: 12px;
  color: #f3c2c2;
  min-width: 15px;
  text-decoration: line-through;
  text-decoration-color: red;
  margin: 0 3px;
}

input[type="radio"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

input[type="radio"]:checked + label,
input[type="radio"]:hover + label {
  background-color: #0089ff;
  border: 1px solid #ffffff;
  color: #ffffff;
}
input[type="radio"]:checked + label .previousPrice,
input[type="radio"]:hover + label .previousPrice {
  color: #73beff !important;
  min-width: 15px;
  text-decoration: line-through;
  text-decoration-color: #fff;
}

.innerContainer .priceDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 78px;
}

.innerContainer .priceDisplay img {
  height: 30px;
  width: 30px;
}

.innerContainer .priceDisplay > p {
  font-size: 12px;
  margin-top: 13px;
  margin-bottom: 18px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Quicksand Bold", sans-serif;
  letter-spacing: 4.32px;
}

.innerContainer .priceDisplay .price {
  background: #0089ff;

  width: 114px;
  height: 49px;
  border: 1px solid #ffffff;
  border-radius: 360px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.innerContainer .priceDisplay .price p {
  font-size: 15px;
  letter-spacing: 2.1px;
}

.innerContainer .cardSection {
  margin-top: 32px;
  height: 212px;
  width: 562px;
  border: 1px solid #ededed;
  border-radius: 20px;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
  gap: 26px;
}

.innerContainer .cardSection button {
  margin-top: 26px;
  width: 499px;
  height: 49px;
  border-radius: 360px;
  background: transparent url("../images/gradient.png") 0% 0% no-repeat
    padding-box;
  border: none;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 3.9px;
}

.innerContainer .cardSection button span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

.poweredBy {
  color: #696969;
  text-align: center;
}
.payForwardContainer {
  font-family: "Playfair Display", serif;
  letter-spacing: 3px;
  line-height: 80px;
  font-size: 80px;
  min-height: 80px;
  font-weight: 200;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start;
	align-items: flex-start; */
}
.paymentCard {
  margin-top: 59px;
  width: 630px;
  height: 504px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: center;
}
.paymentCard .padLock {
  width: 30px;
  height: 30px;
  margin-top: 29px;
}

.secureText {
  color: black;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 13px;
  letter-spacing: 4.2px;
}
.bluePrice {
  display: flex;
  justify-content: space-between;
  font-family: "Quicksand Bold", sans-serif;
  font-size: 15px;
  letter-spacing: 2.1px;
  background-color: #2488f7;
  border-radius: 360px;
  width: 114px;
  height: 49px;
  align-items: center;
  padding: 9.27px;
  margin-top: 18px;
}
.cardElemContainer {
  width: 562px;
  height: 212px;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  border: 1px solid #ededed;
  border-radius: 20px;
  margin-top: 32px;
  transition: 0.3s ease-in-out;
}
.cardElemLoading {
  filter: blur(3px);
}
.stripeName {
  color: #696969;
  font-size: 14px;
  letter-spacing: 0;
  margin-top: 41px;
}
