@font-face {
  font-family: "Canela Light";
  src: url(../fonts/Canela-Light.ttf);
}

.container {
  font-family: "Canela Light";
  letter-spacing: 0px;
  line-height: 80px;
  font-size: 80px;
  min-height: 80px;
  font-weight: 200;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start;
	align-items: flex-start; */
}

/* cursor styling */
.txtType > .txt {
  border-right: 0.05em solid white;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .container {
    font-size: 32px;
    line-height: 42px;
    min-height: 60px;
  }
}
