.container {
	font-family: 'Playfair Display', serif;
	letter-spacing: 3px;
	line-height: 80px;
	min-height: 80px;
	font-size: 80px;
	font-weight: 200;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* cursor styling */
.txtType > .txt {
	border-right: 0.05em solid white;
}
