@property --myColor1 {
    syntax: "<color>";
    initial-value: transparent;
    inherits: false;
  }
  
  @property --myColor2 {
    syntax: "<color>";
    initial-value: transparent;
    inherits: false;
  }
  
  .wrapper {
    width: 100%;
    height: 100vh;
    background-color: rgb(0 0 0 / 64%);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
  
    .container {
      width: 500px;
      min-height: 461px;
      padding-bottom: 30px;
      background-color: #fff;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
      position: relative;
  
      .inputBackground {
        width: 440px;
        background-color: #f8f8f8;
        border: 1px solid #ededed;
        padding: 32px 37px;
        border-radius: 10px;
      }
      .gradientWrapper {
        background: linear-gradient(to right, var(--myColor1), var(--myColor2));
        transition: --myColor1 0.3s, --myColor2 0.3s;
        border-radius: 360px;
        padding: 2px;
  
        &:hover {
          --myColor1: #ffb600;
          --myColor2: #ca27ff;
        }
  
        &:focus-within {
          --myColor1: #ffb600;
          --myColor2: #ca27ff;
        }
  
        &:active {
          --myColor1: #ffb600;
          --myColor2: #ca27ff;
        }
      }
  
      .closeButton {
        border: none;
        background: none;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 10px;
        top: 10px;
  
        &:hover {
          .closeIcon {
            opacity: 1;
          }
          .whiteX {
            opacity: 0;
          }
        }
  
        .closeIcon {
          width: 24px;
          height: 24px;
          cursor: pointer;
          opacity: 0;
          transition: 0.3s ease-in-out;
        }
  
        .whiteX {
          width: 24px;
          height: 24px;
          cursor: pointer;
          opacity: 1;
          transition: 0.3s ease-in-out;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
  
      .header {
        margin-top: 38px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
  
        .couponIcon {
          width: 54px;
        }
  
        .title {
          font-size: 32px;
          font-family: "Canela-Light";
          font-weight: 500;
          color: #000;
        }
      }
      .description {
        font-family: "QuickSand-Regular";
        font-size: 14px;
        color: #525252;
      }
      .inputWrapper {
        display: flex;
        flex-direction: column;
  
        .errorMessages {
          font-family: "QuickSand-Regular";
          font-size: 14px;
          color: #ff0000;
          margin-top: 8px;
          min-height: 17.5px;
        }
  
        .input {
          width: 100%;
          height: 50px;
          border-radius: 360px;
          border: 1px solid #e8e8e8;
          text-align: center;
          font-family: "QuickSand-Bold";
          font-size: 16px;
          color: #cd2af8;
          letter-spacing: 3px;
          outline: none;
  
          &::placeholder {
            opacity: 0.44;
            color: #cd2af8;
            font-family: "QuickSand-Medium";
          }
        }
      }
      .button {
        width: 100%;
        height: 50px;
        border-radius: 360px;
        background: linear-gradient(88deg, #469fe7 0%, #cf28fa 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-family: "QuickSand-Bold";
        font-size: 13px;
        color: #fff;
        letter-spacing: 3px;
        text-transform: uppercase;
  
        &:hover {
          background: linear-gradient(88deg, #469fe7 0%, #cf28fa 100%);
        }
  
        &:disabled {
          background: linear-gradient(88deg, #77b5e9 0%, #e26cff 100%);
          cursor: not-allowed;
        }
      }
    }
  }
  
  .resend {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 10px;
    column-gap: 5px;
    margin-top: 10px;
  
    a {
      color: #3c70ff;
      text-decoration: none;
    }
  }
  